{% extends 'todo/base.html' %}
{% block title %} Completed Todos {% endblock %}
{% block content %}
    {% if todos %}
    <div class="list-group">

    <ol class="list-group list-group-numbered">
  {% for item in todos %}

      <li class="list-group-item d-flex justify-content-between align-items-start {% if item.important %}list-group-item-warning {% endif %}">

      <div class="ms-2 me-auto">
      <a href="{% url 'viewtodo'  item.id %}" style="color: black;text-decoration: none">
      <div class="fw-bold opacity-75">{{ item.title|truncatechars:100 }}</div>
    {% if item.memo %}  {{ item.memo|truncatechars:110 }}{% endif %}
      </a>
      </div>
    <small>{{ item.datecompleted|date:'j M Y H:i' }}</small>

  </li>

  {% endfor %}
</ol>


    </div>
    {% else %}
        <div style="text-align: center">
    <h1>No completed Todos</h1>
        </div>
    {% endif %}
{% endblock %}