{% extends 'todo/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <h1 style="text-align: center">Login</h1>
    <h2>{{ error }}</h2>
    <form method="post" style="text-align: center;">
        {% csrf_token %}
        <div class="form mt-2" style="display: inline-block; width: 300px;">
            <div>
                <h5>Username</h5>
                <input class="form-control wide" style="height: 50px; font-size: 20px" type="text" name="username" autocapitalize="none" maxlength="150" id="id_username">
            </div>
            <div>
                <br>
                <h5>Password</h5>
                <input class="form-control" style="height: 50px" type="password" name="password" id="id_password">
            </div>
            <button class="btn btn-outline-success btn-lg mt-2" type="submit">Login</button>
        </div>
    </form>
{% endblock %}