{% extends 'todo/base.html' %}
{% block title %} {{ todo.title}} {% endblock %}
{% block content %}
    <h1 class="mt-3 text-dark opacity-75" style="text-align: center">{{ todo.title }}</h1>
    {{ error }}
    <form method="POST" style="text-align: justify-all">
    {% csrf_token %}
    {{ form.title }}
        {{ form.memo }}
        <label for="form-control-check" class="p-3">Important </label>{{ form.important }}
    <br>
        <div style="text-align: center" class="d-grid gap-2">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </div>
    </form>

    <form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
        <div style="text-align: center" class="d-grid gap-2">
        <button class="btn btn-warning btn-lg btn-block" type="submit">Complete</button>
        </div>
    </form>

    <form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
        <div style="text-align: center" class="d-grid gap-2">
    <button class="btn btn-danger btn-lg btn-lock" type="submit">Delete</button>
        </div>
    </form>

{% endblock %}